<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:roundIcon="@drawable/school"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentApp"
        tools:targetApi="31">
        <activity
            android:name=".UIController.AssessmentListAdapter"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.CourseEditActivity"
            android:exported="false"
            android:label="Edit New Course"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.CourseDetailsActivity"
            android:exported="false"
            android:label="Course details">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.CourseListAdapter"
            android:exported="false"
            android:label="Course List"
            android:parentActivityName=".UIController.TermListAdapter">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.TermDetailsActivity"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UIController.TermListAdapter">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.TermListAdapter"
            android:exported="false"
            android:label="Term List"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.TermEditActivity"
            android:exported="false"
            android:label="Edit Term"
            android:parentActivityName=".UIController.TermListAdapter"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UIController.HomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>